.headerContainer {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.componentTheme {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.componentText {
  color: var(--color-grey-900);
  font-size: var(--font-size-preset-2);
  font-weight: bold;
  line-height: 24px;
  flex-grow: 2;
  padding-left: 10px;
}
