button {
  height: 53px;
  width: 155px;
  background-color: var(--color-grey-900);
  color: var(--color-white);
  font-size: var(--font-size-preset-4);
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 8px;
  transition: 0.4s;
}

@media (min-width: 1024px) {
  button:hover {
    background-color: var(--color-grey-500);
  }
}
