@media (min-width: 1024px) {
  .potsContainer {
    max-width: 1024px;
  }

  .pots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    align-items: start;
    grid-auto-rows: min-content;
  }
}
