.progressBarContainer {
  margin-bottom: 20px;
}

.descriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
}
.operationsText {
  font-size: var(--font-size-preset-4);
  color: var(--color-grey-500);
}

.newAmount {
  font-size: var(--font-size-preset-1);
}

.label {
  color: var(--color-grey-500);
  font-size: var(--font-size-preset-5);
  font-weight: bold;
}

.inputText {
  height: 45px;
  width: 100%;
  border: 1px solid var(--color-beige-500);
  border-radius: 8px;
  padding: 0 20px;
  margin: 5px 0 15px 0;
}

.inputText:focus {
  outline: none;
}

.newAmountText {
  font-size: var(--font-size-preset-5);
  font-weight: bold;
  color: var(--color-green);
}
