.tableContainer {
  height: 100vh;
  flex-basis: auto;
  flex-grow: 1;
  background-color: var(--color-background-white);
  border-radius: 12px;
  padding: 32px;
}

table {
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  color: var(--color-grey-500);
}

.tableRow {
  border-bottom: 1px solid var(--color-grey-100);
}

.headerRow {
  height: 60px;
  width: 100%;
}

.tableColumn:nth-child(1) {
  width: 45%;
}

.contentRow {
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: 30px 30px;
  grid-template-areas:
    "recipent-sender amount"
    "category date";

  height: 60px;
  border-bottom: 1px solid var(--color-grey-100);
}

.contentCell {
  width: 100%;
  display: flex;
}

.contentCell:nth-child(1) {
  grid-area: recipent-sender;
  align-items: flex-end;
  font-size: var(--font-size-preset-4);
  line-height: 150%;
  font-weight: bold;
  letter-spacing: 0;
  color: var(--color-grey-900);
}

.contentCell:nth-child(2) {
  grid-area: category;
}

.contentCell:nth-child(3) {
  grid-area: date;
  justify-content: flex-end;
}

.contentCell:nth-child(4) {
  grid-area: amount;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: var(--font-size-preset-4);
  line-height: 150%;
  font-weight: bold;
  letter-spacing: 0;
  color: var(--color-grey-900);
}

.cellIncome p {
  color: var(--color-green);
}
